@using Bloom.Shared

<header>
    <div>
        <div>
            <p class="title">@detail.name</p>
            <p class="subtitle">@detail.enname</p>
        </div>
    </div>
    <img src="" class="poster"/>
</header>
@if(isCM || isMovie)
{
    <section class="contener">
        <div>
            <div>
                <h3 class="section title">
                    @if (isFun)
                    {
                        <img src="./img/icon/love.svg" class="icon"/>
                    }
                    else
                    {
                        <img src="./img/icon/video.svg" class="icon"/>
                    }
                    Video
                </h3>
                <p>動画とCM</p>
            </div>
            <div>
                @if (isCM && isMovie)
                {
                    <button class="btn" onclick="@Change(ChangeTo.Cm)">CM</button>
                    <button class="btn" onclick="@Change(ChangeTo.Movie)">Video</button>
                }
                @if(media == ChangeTo.Cm)
                {
                    <button class="btn" style="background-color:#00000000 !important; color:#245 !important;" onclick="@Change(ChangeTo.Movie)"><img src="~/img/icon/good.svg"  alt="投票!"/></button>
                }
            </div>
        </div>
        <div>
            @if(media == ChangeTo.Cm && detail.cmUrl[0].isfream)
            {
                @((MarkupString)detail.cmUrl[0].Url);
            }else if(media == ChangeTo.Cm && !detail.cmUrl[0].isfream)
            {
                <video>
                @foreach (var item in detail.cmUrl)
                {
                        <source src="@item.Url"/>
                }
                </video>
            }else if(media == ChangeTo.Movie && detail.videoUrl[0].isfream)
            {
                @((MarkupString)detail.videoUrl[0].Url);
            }else if(media == ChangeTo.Movie && !detail.videoUrl[0].isfream)
            {
                <video>
                @foreach (var item in detail.videoUrl)
                {
                        <source src="@item.Url"/>
                }
                </video>
            }
            else
            {
                <div>
                    <img src="~/img/404.svg"/>
                    <p class="error">すみません。お探しのコンテンツは見つかりませんでした。再読み込みしてみてください。</p>
                </div>
            }
        </div>
    </section>
}
<section>
    <div class="title">
        <h3 class="section title"><img src="./img/icon/map.svg" class="icon"/>Map</h3>
        <p>場所</p>
    </div>
    <article class="contener">
        <p>@((MarkupString)detail.location.Split(",")[1])</p>
        <Bloom.Client.Pages.comitte.Map.Atlas floorIdentify="Convert.ToByte(detail.location.Split(',')[2])"></Bloom.Client.Pages.comitte.Map.Atlas>
    </article>
</section>

<section class="contener">
    <article class="comment">
        @detail.comment
    </article>
    <article>
        <button class="btn vote" onclick="@Vote()">この団体を応援する</button>
    </article>
</section>

@if(isvote){
    <section class="hidden">
        <Bloom.Client.Shared.vote.Vote />
        <button class="btn" onclick="@Close()">閉じる</button>
    </section>
}

@code {
    [Parameter]
    public Group detail{ set; get; }

    private bool isFun { set; get; }
    private bool isCM { set; get; }
    private bool isMovie { set; get; }
    private int floorCode { set; get; }
    private byte state { set; get; }
    private bool isvote;
    private ChangeTo media;
    private enum ChangeTo
    {
        Cm = 1,
        Movie
    }

    private async Task Change(ChangeTo identifer)
    {
        media = identifer;
        StateHasChanged();
    }

    private async Task Vote(){
        isvote = true;
    }

    private async Task Close()
    {
        isvote = false;
        StateHasChanged();
    }
}
