@page "/group/{groupId}"

@using System;
@using System.Net.Http;
@using System.Threading.Tasks;
@using System.Collections.Generic;
@using System.Text;
@using Fes.Shared;
@using Microsoft.JSInterop

@inject IJSRuntime js

<section class="header">
    <p class="orgTitle">@detail.name</p>
    <img src="@detail.posterUrl" alt="@(detail.name + "のポスター")"/>
</section>
@if(isCm|| isVideo)
    {
    <section class="cm">
        <div class="sectitle">
            <h2><span/>Movie</h2>
            <h3>Cmと動画</h3>
        </div>    
        <div class="content">
            <div>
                @if (isCm)
                {
                    <button class="btn" onclick="@VideoChenge(detail.cmUrl)">CM</button>
                }
                else
                {
                    <p class="btn">CM</p>
                }
                @if (isCm)
                {
                    <button class="btn" onclick="@VideoChenge(detail.videoUrl)">紹介動画</button>
                }
                else
                {
                    <p class="btn">紹介動画</p>
                }
            </div>
            <div>
                <video controls>
                    @foreach (var item in Videos)
                    {
                        <source type="@item.type" src="@item.url">
                    }
                    <source type="image/svg+xml" src="./img/404.svg"/>
                </video>
            </div>
        </div>
    </section>
}

<section class="location">
        <div class="sectitle">
            <h2><span/>Movie</h2>
            <h3>Cmと動画</h3>
        </div>    
        <div class="content">
            <div>
                <p>@detail.location</p>
            </div>
            @if(detail.location.IndexOf("中央棟") != -1)
            {
                <div class="canva">
                    <iframe loading="lazy" class="canva_fream"
                    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFJrf--nMY&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
                    </iframe>
                </div>
            }else if(detail.location.IndexOf("高校棟") != -1)
            {
                <div class="canva">
                  <iframe loading="lazy" class="canva_fream"
                    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFJrZpTaII&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
                  </iframe>
                </div>
            }else if(detail.location.IndexOf("中学棟") != -1)
            {
                <div  class="canva">
                  <iframe loading="lazy" class="canva_fream"
                    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFJrQFLmwQ&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
                  </iframe>
                </div>
            }else if(detail.location.IndexOf("ホール棟") != -1)
            {
                <div class="canva">
                  <iframe loading="lazy" class="canva_fream"
                    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFJrf2f2jk&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
                  </iframe>
                </div>
            }else{
                <div class="canva">
                  <iframe loading="lazy" class="canva_fream"
                    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFJrVr6Rg0&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
                  </iframe>
                </div>
            }
         </div>
</section>
<section class="vote">
    <div class = "coment">
        @detail.comment
    </div>
    <div class = "coment">
        <button class="btn" onclick="@Vote()">この団体に投票する</button>
        @if(detail.contentUrl != "")
        {
            <a class="btn" href="@detail.contentUrl">この団体のオンラインコンテンツへ</a>
        }
    </div>
</section>

@code {
    [Parameter]
    public string? groupId { set; get; }

    private Org? detail = null;
    private List<Media>? Videos;
    private bool isCm;
    private bool isVideo;

    protected override async Task OnInitializedAsync()
    {
        HttpClient client = new HttpClient();
        var param = new Dictionary<string, object>()
            {
                ["id"] = groupId,
            };
        var jsonString = System.Text.Json.JsonSerializer.Serialize(param);
        var content = new StringContent(jsonString, Encoding.UTF8, @"application/json");
        //POST
        var result = await client.PostAsync(@"https://prod2-10.japaneast.logic.azure.com:443/workflows/69edb18e7b5d4c6e9d2bb99558f6d4b0/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=OvkgP68zZPP6oob6V1rLRPVlK-84qqRVftMpQuQpYhM", content);
        Console.WriteLine($"{(int)result.StatusCode},{ result.StatusCode }");
        var body = await result.Content.ReadAsStringAsync();
        List<Org> orgDetail = System.Text.Json.JsonSerializer.Deserialize<List<Org>>(body);
        detail = orgDetail[0];
        StateHasChanged();
    }

    private async Task VideoChenge(string json)
    {
        Videos = System.Text.Json.JsonSerializer.Deserialize<List<Media>>(json);
        StateHasChanged();
    }

    private async Task Vote()
    {
        string url = "https://script.google.com/a/macros/sit-kashiwa.com/s/AKfycbzevGdW9UVerFOP7KCeAIm1Gtu61dW568a3yBkLrDNZlz2_BVIE9Bu3Tnl1-stJNCcY5Q/exec";
        string student = "";
        string outside = "";
        HttpClient client = new HttpClient();
        string body = await client.GetAsync(url).Result.Content.ReadAsStringAsync();
        //Google apps script へアクセスして学生判定
        if(body == "masuofes")
        {
            await js.InvokeVoidAsync("jumpto",student);
        }
        else
        {
            await js.InvokeVoidAsync("jumpto",outside);
        }
    }
}
